body {
  font-family: Arial;
  background: #111;
  color: #eee;
  padding: 15px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

button {
  background: #444;
  color: white;
  border: none;
  border-radius: 5px;
}

.box {
  border: 1px solid #333;
  padding: 10px;
  margin-top: 10px;
}

.unite {
  text-align: center;
}

.unite img {
  width: 120px;
  border-radius: 10px;
}

.pv {
  font-weight: bold;
}

.liste-unites {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
}

.carte-unite {
  text-align: center;
  cursor: pointer;
}

.carte-unite img {
  width: 100px;
  border-radius: 10px;
  border: 2px solid #333;
}

/* Cartes unités (liste) */
.carte-unite img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #444;
}

/* Zone combat (photos principales) */
.zone-combat {
  text-align: center;
  flex: 1;
}

/* Zones combat */
.zone-combat img {
  width: 180px;
  height: 180px;
  max-width: 40vw;   /* important pour mobile */
  max-height: 40vw;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #666;
  background: #111;
}


/* Texte sous image */
.zone-combat div {
  margin-top: 4px;
  font-size: 14px;
}
